{% extends "MgnArticleBundle::admin.html.twig" %}

{% block title %}
    Liste des articles - {{ parent() }}
{% endblock %}

{% block sidebar_articles %}active{% endblock %}
{% block sidebar_articles_category %}active{% endblock %}

{% block body %}

	<div class="row">
	
		<div class="col-lg-12">

			<div class="page-header">

				<h1><i class="fi-pencil"></i> Modifier la catégorie</h1>

			</div>

		</div>

		{% for message in app.session.flashbag.get('success') %}
		<div class="col-lg-12">
	        <div class="alert alert-success">
	        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{ message }}
	        </div>
        </div>
        {% endfor %}

        <div class="col-lg-12">

        	<form name="" role="form" method="post" {{ form_enctype(form) }} class="form-horizontal">

				<div class="form-group{% if form_errors(form.name) %} has-error{% endif %}">

					<label for="mgn_userbundle_grouptype_name" class="col-lg-2 control-label">Nom</label>

					<div class="col-lg-8">

						{{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' } }) }}

					</div>

					<div class="col-lg-offset-2 col-lg-8">

						<p class="help-block">Ce nom est utilisé un peu partout sur votre site.</p>

					</div>

				</div>

				<div class="form-group{% if form_errors(form.url) %} has-error{% endif %}">

					<label for="mgn_userbundle_grouptype_url" class="col-lg-2 control-label">Identifiant</label>

					<div class="col-lg-8">

						{{ form_widget(form.url, { 'attr' : { 'class' : 'form-control' } }) }}

					</div>

					<div class="col-lg-offset-2 col-lg-8">

						<p class="help-block">L’identifiant est la version normalisée du nom. Il ne contient généralement que des lettres minuscules non accentuées, des chiffres et des traits d’union.</p>

					</div>

				</div>

				<div class="form-group{% if form_errors(form.description) %} has-error{% endif %}">

					<label for="mgn_userbundle_grouptype_description" class="col-lg-2 control-label">Description</label>

					<div class="col-lg-8">

						{{ form_widget(form.description, { 'attr' : { 'class' : 'form-control', 'rows' : '5' } }) }}

					</div>

					<div class="col-lg-offset-2 col-lg-8">

						<p class="help-block">La description n’est pas très utilisée par défaut, cependant de plus en plus de thèmes l’affichent.</p>

					</div>

				</div>

				{{ form_rest(form) }}

				<div class="form-actions">

					<div class="col-lg-offset-2 col-lg-8">

	                	<button type="submit" class="btn btn-primary">Mettre à jour</button>
	                	<a href="{{ path('mgn_admin_article_category') }}" class="btn btn-default">Annuler</a>

	                </div>

	            </div>
					

			</form>

        </div>

	</div>

{% endblock %}