{% extends "MgnCoreBundle::admin.html.twig" %}

{% block title %}
    Gestion des acl's - {{ parent() }}
{% endblock %}

{% block arianne %}
    {{ parent() }}<li>
                            Gestion des acl's
{% endblock %}

{% block sidebar_core %}active{% endblock %}
{% block sidebar_core_acls %}select{% endblock %}

{% block menuActifForumAcls %} class="active"{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-lg-12">

            <div class="page-header">
                <h1>
                    <i class="fi-widget"></i> Gestion des acl's
                </h1>
            </div>

        </div>

        <div class="col-lg-12">

            <div class="alert alert-info">
                La gestion des acl's est une partie importante de votre site, vous allez pouvoir ici gérer les droits d'accès aux fonctions pour les différents groupes et utilisateur de votre site.
            </div>

        </div>

        <div class="col-lg-12">

            <div class="row">

                <div class="col-lg-4">

                    <fieldset>
                    <legend>Groupes Acl</legend>

                    <table class="table table-hover">

                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Nombre membre</th>
                                <th></th>
                            </tr>
                        </thead>

                        {% for group in groups %}

                            <tbody>
                                <tr>
                                    <td>
                                        {{ group.name }}
                                    </td>
                                    <td>{{ group.countUsers }}</td>
                                    <td>
                                        <a type="button" class="btn btn-primary btn-xs tips" data-toggle="tooltip" data-placement="left" title="Gérer" data-original-title="Gérer" href="{{ path('mgn_admin_core_acls_forGroup', {'groupSlug': group.slug, 'groupId': group.id}) }}"><i class="fa fa-cogs"></i></a>
                                    </td>
                                </tr>           
                            </tbody>

                        {% endfor %}

                    </table>

                    </fieldset>

                </div>

                <div class="col-lg-4">

                    <fieldset>
                    <legend>Membres Acl</legend>

                    <table class="table table-hover">

                        <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th></th>
                            </tr>
                        </thead>

                        {% for user in users %}

                            <tbody>
                                <tr>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-primary btn-xs tips" data-toggle="tooltip" data-placement="left" title="Gérer" data-original-title="Gérer" href="{{ path('mgn_admin_core_acls_forUser', {'usernameCanonical': user.usernameCanonical, 'userId': user.id}) }}"><i class="fa fa-cogs"></i></a>
                                    </td>
                                </tr>           
                            </tbody>

                        {% endfor %}

                    </table>

                    </fieldset>

                </div>

                <div class="col-lg-4">

                    <fieldset>
                    <legend>Forums Acl</legend>

                    <table class="table table-hover">

                        {% set category = '' %}

                        {% for forum in forums %}

                            {% if category != forum.category.name %}
                            
                                {% set category = forum.category.name %}
                                
                                <thead>
                                    <tr>
                                        <th>
                                            {{ forum.category.name|upper }}
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                
                            {% endif %}

                            <tbody>
                                
                                    <tr>
                                        <td>
                                            <p><a href="{{ path('mgn_forum_view', {'id': forum.id, 'forum': forum.slug}) }}"><strong>{{ forum.name }}</strong></a></p>
                                            <em><small>{{ forum.description }}</small></em>
                                        </td>
                                        <td>
                                            <a type="button" class="btn btn-primary btn-xs tips" data-toggle="tooltip" data-placement="left" title="Voir les acls" data-original-title="Voir les acls" href="{{ path('mgn_admin_core_acls_forForum', {'forumId': forum.id, 'forumSlug': forum.slug}) }}"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>           
                            </tbody>

                        {% endfor %}

                    </table>

                    </fieldset>

                </div>

            </div>
        
        </div>

    </div>

{% endblock %}