<form method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">

    <div class="">

        <div class="col-lg-12">
        
            {% if form_errors(form) %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ form_errors(form) }}
            </div>
            {% endif %}

            <div class="form-group">

                <label for="mgn_articlebundle_articletype_titre">Titre</label>
                    
                {{ form_widget(form.title, { 'attr' : { 'class' : 'form-control', 'placeholder' : "Titre de l'article" } }) }}

            </div>

            <div class="form-group">
            
                <label for="mgn_articlebundle_articletype_contenu">Url de l'image d'en-tête</label>

                <div class="input-group">

                    <span class="input-group-addon">

                        <a href="#null" onclick="javascript:open_uploads();"><i class="fi-upload"></i></a>

                    </span>

                    {{ form_widget(form.header, { 'attr' : { 'class' : 'form-control' } }) }}

                </div>

            </div>
            
            <div class="form-group">
                <label for="mgn_articlebundle_articletype_contenu">Contenu</label>

                <div class="row">

                    <div class="col-lg-12">

                        <div class="controls input-100largemin">

                            {% set url = app.request.schemeAndHttpHost %}

                            {{ "mgn_articlebundle_articletype_contents"|mcode('menu', 'article', url)|raw }}
                            
                            {{ form_widget(form.contents, { 'attr' : { 'class' : 'form-control', 'rows' : '50' } }) }}
                        
                        </div>

                    </div>

                </div>

            </div>

            <div class="form-group">

                <div class="row">

                    <div class="col-lg-6">

                        <label for="mgn_articlebundle_articletype_categorie">Catégorie</label>
                        
                        {{ form_widget(form.category, { 'attr' : { 'class' : 'form-control'} }) }}

                    </div>

                    <div class="col-lg-6">

                        <label for="mgn_articlebundle_articletype_auteur">Status</label>
                        
                        {{ form_widget(form.status, { 'attr' : { 'class' : 'form-control'} }) }}

                    </div>

                </div>

            </div>

            <div class="form-group">

                <div class="row">

                    <div class="col-lg-12">

                        <label for="mgn_articlebundle_articletype_url">Url personnalisé</label>

                        <div class="input-group">

                            <span class="input-group-addon">{{ url }}/article/jj-mm-aaaa/id/</span>
                    
                            {{ form_widget(form.url, { 'attr' : { 'class' : 'form-control' } }) }}

                        </div>

                        <span class="help-block"><strong>Infos :</strong> Url sans espaces, ni accents. Exemple : une-url-de-test</span>

                    </div>

                </div>

            </div>

            <div class="form-group">

                <div class="row">

                    <div class="col-lg-6">

                        <label for="mgn_articlebundle_articletype_date">Date</label>

                        <div class="row">

                            <div class="col-lg-12">

                                <div class="row">

                                    <div class="col-lg-6">

                                        {{ form_widget(form.date.date, { 'attr' : { 'class' : 'form-control', 'placeholder' : '.col-lg-6', 'data-date-format' : 'dd/mm/yyyy' } }) }}

                                    </div>

                                    <div class="col-lg-6">
                                    
                                        {{ form_widget(form.date.time, { 'attr' : { 'class' : 'form-control', 'placeholder' : '.col-lg-6' } }) }}

                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-12">

                                <span class="help-block"><strong>Infos :</strong> Permet de différer la publication d'un article.</span>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-lg-6">

                                <label for="">Options</label>

                                <div class="checkbox">

                                    <label>

                                        {{ form_widget(form.comments) }}

                                        Activer les commentaires

                                    </label>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
            
    {{ form_rest(form) }}

    <div class="row">

        <div class="col-lg-12">

            <div id="viewDiv"></div>

        </div>

        <div class="col-lg-12">

            <div class="form-actions">

                <button class="btn btn-primary" type="submit" id="_submit" name="_submit">Enregistrer</button>

                <button class="btn btn-primary" type="button" onclick="view('mgn_articlebundle_articletype_contents', 'article', 'viewDiv', '{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}');">Visualiser</button>

                <a class="btn btn-default" href="{{ path('mgn_admin_article_list') }}">Annuler</a>

            </div>

        </div>

    </div>

</form>

<script type="text/javascript">
<!--
function open_uploads()
{
        width = 800;
        height = 600;
        if(window.innerWidth)
        {
                var left = (window.innerWidth-width)/2;
                var top = (window.innerHeight-height)/2;
        }
        else
        {
                var left = (document.body.clientWidth-width)/2;
                var top = (document.body.clientHeight-height)/2;
        }
        window.open('{{ path('mgn_admin_article_picture_add') }}','nom_de_ma_popup','menubar=no, scrollbars=no, top='+top+', left='+left+', width='+width+', height='+height+'');
}
-->
</script>