<section id="{{ contents.id }}" class="sortable panel">

	<div class="panel-body">

		<form id="formContents_{{ contents.id }}" action="{{ path('mgn_admin_article_contents', {'article': article.id, 'content': contents.id, 'type': 'paragraph', 'action': 'record'})}}" method="post" {{ form_enctype(form_contents) }} class="form-horizontal" role="form">

		    <div class="form-group">

			    <div class="col-lg-12">
			        
			        <label for="mgn_articlebundle_articletype_contenu">Paragraphe <img class="loader" src="{{ asset('admin/img/ajax-loader.gif') }}" title="" /></label>

			        {{ form_widget(form_contents.paragraph, { 'attr' : { 'class' : 'form-control textarea_elastic formrecord', 'rows' : '2' } }) }}

			    </div>

		    </div>
		        
		    {{ form_rest(form_contents) }}

			<div class="pull-right">

				<button type="button" class="btn btn-primary btn-xs buttoncontentsrecord">Enregistrer</button>

				<button type="button" class="btn btn-danger btn-xs buttoncontentsdelete" href="{{ path('mgn_admin_article_contents_delete', {'content': contents.id})}}">Supprimer</button>

			</div>

		</form>

	</div>

</section>