<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />
    
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}{{ Config('siteTitre') }}{% endblock %}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ asset('css/mutagene.css') }}" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/foundation-icons.css') }}" >

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>

<body>

<div class="container">

	<div class="row">
	
		<div class="col-lg-12">

			<div class="page-header">

				<h1><i class="fi-pencil"></i> Ajouter une image</h1>

			</div>

		</div>

		{% for message in app.session.flashbag.get('error') %}
		<div class="col-lg-12">
	        <div class="alert alert-error">
	        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{ message }}
	        </div>
        </div>
        {% endfor %}

		{% for message in app.session.flashbag.get('success') %}
		<div class="col-lg-12">
	        <div class="alert alert-success">
	        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{ message }}
	        </div>
        </div>
        {% endfor %}

        <div class="col-lg-12">

        	<form name="" role="form" method="post" {{ form_enctype(form) }} class="form-horizontal">

        		<div class="form-group{% if form_errors(form.file) %} has-error{% endif %}">

					<label for="mgn_userbundle_grouptype_name" class="col-lg-2 control-label">Image</label>

					<div class="col-lg-8">

						{{ form_widget(form.file) }}

					</div>

					<div class="col-lg-8">

						<p class="help-block"><strong>Extension :</strong> .jpg, .jpeg, .bmp, .png, .gif</p>

					</div>

				</div>

				<div class="form-group{% if form_errors(form.gallery) %} has-error{% endif %}">

					<label for="mgn_userbundle_grouptype_url" class="col-lg-2 control-label">Galerie</label>

					<div class="col-lg-8">

						{{ form_widget(form.gallery, { 'attr' : { 'class' : 'form-control' } }) }}

					</div>

				</div>

				<div class="form-group{% if form_errors(form.title) %} has-error{% endif %}">

					<label for="mgn_userbundle_grouptype_url" class="col-lg-2 control-label">Titre</label>

					<div class="col-lg-8">

						{{ form_widget(form.title, { 'attr' : { 'class' : 'form-control' } }) }}

					</div>

				</div>

				<div class="form-group{% if form_errors(form.description) %} has-error{% endif %}">

					<label for="mgn_userbundle_grouptype_description" class="col-lg-2 control-label">Description</label>

					<div class="col-lg-8">

						{{ form_widget(form.description, { 'attr' : { 'class' : 'form-control', 'rows' : '5' } }) }}

					</div>

				</div>

        		{{ form_rest(form) }}

        		<div class="form-actions">

					<div class="col-lg-offset-2 col-lg-8">

	                	<button type="submit" class="btn btn-primary">Ajouter</button>

	                </div>

	            </div>

        	</form>

        </div>

	</div>

    <!-- Core Scripts - Include with every page -->
    <script src="{{ asset('js/jquery-2.0.3.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/mgncode.js') }}"></script>
    <script src="{{ asset('js/jquery.metisMenu.js') }}"></script>

</div>
</body>